<section class="section-wrap bg-light" id="agenda">
				<div class="container">			
					<h2 class="text-center">AGENDA</h2>
					<p class="subheading text-center">Here are the planned activities</p>

					<div class="row mt-20">

						<div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; -webkit-animation-duration: 1s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
							<div class="blog-col-3 mt-30">
								<div class="entry-box">
									<div class="entry-img">
										<a href="single.html">
											<img src="upload/blog_1.jpg" alt="">
										</a>
									</div>
									<div class="entry-title">
										<h4><a href="single.html">Day 1: Conference</a></h4>
									</div>

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
										<a href="single.html" class="btn btn-small btn-rounded">Read More</a>
									</div>
								</div> <!-- end entry box -->
							</div> <!--  end blog col 3 -->
						</div> <!-- end column-->

						<div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; -webkit-animation-duration: 1s; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
							<div class="blog-col-3 mt-30">
								<div class="entry-box">
									<div class="entry-img">
										<a href="single.html">
											<img src="upload/blog_2.jpg" alt="">
										</a>
									</div>
									<div class="entry-title">
										<h4><a href="single.html">Day 2: Workshops</a></h4>
									</div>

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
										<a href="single.html" class="btn btn-small btn-rounded">Read More</a>
									</div>
								</div> <!-- end entry box -->
							</div> <!--  end blog col 3 -->
						</div> <!-- end column-->

						<div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; -webkit-animation-duration: 1s; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
							<div class="blog-col-3 mt-30">
								<div class="entry-box">
									<div class="entry-img">
										<a href="single.html">
											<img src="upload/blog_2.jpg" alt="">
										</a>
									</div>
									<div class="entry-title">
										<h4><a href="single.html">Day 3: Hackathon</a></h4>
									</div>

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
										<a href="single.html" class="btn btn-small btn-rounded">Read More</a>
									</div>
								</div> <!-- end entry box -->
							</div> <!--  end blog col 3 -->
						</div> <!-- end column-->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</section>