<!-- Footer -->
<footer id="footer" class="minimal">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				
				<div class="socials">
					{% if site.social_metadata.googleplus_url != "" %}
					<a href="{{ site.social_metadata.googleplus_url }}"><i class="fa fa-google-plus"></i></a>
					{% endif %}

					{% if site.social_metadata.twitter_url != "" %}
					<a href="{{ site.social_metadata.twitter_url }}"><i class="fa fa-twitter"></i></a>
					{% endif %}

					{% if site.social_metadata.facebook_url != "" %}
					<a href="{{ site.social_metadata.facebook_url }}"><i class="fa fa-facebook"></i></a>
					{% endif %}

					{% if site.social_metadata.linkedin_url != "" %}
					<a href="{{ site.social_metadata.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
					{% endif %}

					{% if site.social_metadata.pinterest_url != "" %}
					<a href="{{ site.social_metadata.pinterest_url }}"><i class="fa fa-pinterest-p"></i></a>
					{% endif %}

					{% if site.social_metadata.instagram_url != "" %}
					<a href="{{ site.social_metadata.instagram_url }}"><i class="fa fa-instagram"></i></a>
					{% endif %}

				</div> <!-- end socials -->

				<span class="copyright text-center">
					©2015 DEVFEST SEASON  |  Based on design by <a href="http://vg.am">Vardan Grigoryan</a>
				</span>

			</div> <!-- end col -->
		</div> <!-- end row -->		
	</div> <!-- end container -->
</footer> <!-- end footer -->