<!-- Partners -->
			<section class="section-wrap bg-light partners-light">
				<div class="container">
					<div class="row">
						<h2 class="text-center">ORGANIZERS & SPONSORS</h2>
						<div id="owl-partners" class="owl-carousel owl-theme">

							<div class="item">
								<a href="#">
									<img src="upload/google.svg" alt="">
								</a>
							</div> 

							
							<div class="item">
								<a href="#">
									<img src="upload/gdg-x.svg" alt="">
								</a>
							</div> 


							<div class="item">
								<a href="#">
									<img src="upload/gdg-x.svg" alt="">
								</a>
							</div> 

							<div class="item">
								<a href="#">
									<img src="upload/google.svg" alt="">
								</a>
							</div> 

							<div class="item">
								<a href="#">
									<img src="upload/gdg-x.svg" alt="">
								</a>
							</div> <!-- end second logo -->

							<div class="item">
								<a href="#">
									<img src="upload/gdg-armenia.svg" alt="">
								</a>
							</div> <!-- end third logo -->

						</div> <!-- end carousel -->
						
					</div> <!-- end row -->
				</div> <!-- end container -->
			</section> <!-- end partners -->