{% if site.partners.show %}
<!-- Partners -->
<section class="section-wrap bg-light partners-light">
	<div class="container">
		<div class="row">
			<h2 class="text-center">{{ site.partners.heading }}</h2>
			<div id="owl-partners" class="owl-carousel owl-theme">

				{% for partner in site.data.partners %}
				<div class="item">
					<a href="{{ partner.url }}">
						<img src="{{ partner.picture }}" alt="{{ partner.name }}">
					</a>
				</div>
				{% endfor %}

			</div> <!-- end carousel -->
			
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end partners -->
{% endif %}