<!-- Our Team -->
			<section class="section-wrap pb-0 our-team bg-light">
				<div class="container">
					<h2 class="text-center">ORGANIZING COMITEE</h2>
					<p class="subheading text-center">And also thanks to all our volunteers</p>

					<div class="row mt-30">

						<div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="team-member">
								<div class="team-img">
									<img src="upload/team_1.png" alt="">
									<div class="team-details text-center">
										<h5 class="team-title mb-10">Joeby Ragpa</h5>
										<span>Organizer</span>
										<div class="socials mt-20">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>							
							</div> <!-- end team member -->
						</div> <!-- end col -->

						<div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="team-member mt-mdm-40">
								<div class="team-img">
									<img src="upload/team_2.png" alt="">
									<div class="team-details text-center">
										<h5 class="team-title mb-10">Mat Trump</h5>
										<span>Lead Designer</span>
										<div class="socials mt-20">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>							
							</div> <!-- end team member -->
						</div> <!-- end col -->

						<div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="team-member mt-mdm-40">
								<div class="team-img">
									<img src="upload/team_3.png" alt="">
									<div class="team-details text-center">
										<h5 class="team-title mb-10">Clint Marshal</h5>
										<span>Organizer</span>
										<div class="socials mt-20">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>							
							</div> <!-- end team member -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</section> <!-- end our team -->