<!-- Testimonials -->
			<section class="section-wrap testimonials-slider" id="speakers">
				<div class="container">
					<h2 class="color-white text-center">OUR GREATE SPEAKERS</h2>
					<p class="subheading color-white text-center">We Are Proud To Have Them With Us</p>

					<div class="row">
						<div id="owl-testimonials" class="owl-carousel owl-theme mt-40">

							<div class="item">
								<div class="testimonials-box">
									<img src="upload/testimonial_1.jpg" class="testimonials-img" alt="">
									<div class="testimonial-details">
										<p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
										<h5 class="testimonial-name">John Doe</h5>
										<span> CEO of Company</span>
									</div>
								</div>
							</div> <!-- end first testimonial -->

							<div class="item">
								<div class="testimonials-box">
									<img src="upload/testimonial_2.jpg" class="testimonials-img" alt="">
									<div class="testimonial-details">
										<p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
										<h5 class="testimonial-name">John Doe</h5>
										<span> CEO of Company</span>
									</div>
								</div>
							</div> <!-- end first testimonial -->

							<div class="item">
								<div class="testimonials-box">
									<img src="upload/testimonial_1.jpg" class="testimonials-img" alt="">
									<div class="testimonial-details">
										<p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
										<h5 class="testimonial-name">John Doe</h5>
										<span> CEO of Company</span>
									</div>
								</div>
							</div> <!-- end first testimonial -->

							<div class="item">
								<div class="testimonials-box">
									<img src="upload/testimonial_2.jpg" class="testimonials-img" alt="">
									<div class="testimonial-details">
										<p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
										<h5 class="testimonial-name">John Doe</h5>
										<span> CEO of Company</span>
									</div>
								</div>
							</div> <!-- end first testimonial -->

						</div> <!-- end owl carousel-->

						<div class="customNavigation text-center mt-50">
							<a class="btn prev"><i class="arrow_carrot-left"></i></a>
							<a class="btn next"><i class="arrow_carrot-right"></i></a>
						</div>

					</div> <!-- end row -->					
				</div> <!-- end container -->
			</section> <!-- end testimonials -->